div {
    background-color: rgb(38, 44, 78);
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 20px;
    box-sizing: border-box;

}
#middle {
    background-color: rgb(91, 151, 130);
}

#static #middle {
    position: static;
    top: 100px;
}

#relative #middle {
    position: relative;
    top: 50px;
    left: 50px;
}

#absolute{
    position: relative;
}

#absolute #middle {
    position: absolute;
    top: 1px;
    left: 1px;
}

#fixed #middle {
    position:fixed ;
    top: 0px;
    left: 400px;
}

#sticky #middle {
    position: sticky;
    top: 0px;
}