body {
    text-align: center;
    background-color: rgb(245, 242, 227);
    margin: 50px;
}

h1{
    font-family: 'Sigmar', cursive;
    color: rgb(37, 37, 37);
    margin-bottom: 50px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

p{
    color: rgba(0, 0, 0, 0.6);
}

#list-learn {
    font-weight: 700;
    color: #C91B10;
    font-size: 20px;
}

a {
    text-decoration: none;
    
}

a:hover{
    color: aqua;
    text-decoration: underline;
}